@model IEnumerable<dotnetPetShopProj.Models.Animal>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Two Most Asked About Animals</h1>

<table class="table">
    @foreach (var CurrentAnimal in @Model)
    {
        <tr>
            @*add direct links to the animals*@
            <td> <a asp-controller="Catalogue" asp-action="AnimalDetails" asp-route-selAnimalDetails="@CurrentAnimal.AnimalId"> @CurrentAnimal.AnimalName </a></td>
        </tr>
    }
</table>
