################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnetPetShopProj/.vs/dotnetPetShopProj/FileContentIndex/2a9363f7-1570-4ab1-9ccd-ea098b3ddaf3.vsidx
/dotnetPetShopProj/.vs/dotnetPetShopProj/FileContentIndex/3a612fa6-c9dc-48b5-bbd1-a62026383fca.vsidx
/dotnetPetShopProj/.vs/dotnetPetShopProj/FileContentIndex/8b406c37-b2e1-4e67-b75f-5e2918b43d21.vsidx
/dotnetPetShopProj/.vs/dotnetPetShopProj/FileContentIndex/b1c93149-aac6-43af-975d-ff633fd531ae.vsidx
/dotnetPetShopProj/.vs/dotnetPetShopProj/FileContentIndex/cc0a6eda-d86f-415e-a7eb-6a37a2fad02c.vsidx
