@model IEnumerable<dotnetPetShopProj.Models.Animal>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Our Two Most Asked About Animals</h1>

<table>
    @foreach (var CurrentAnimal in @Model)
    {
        <tr>
            <td>@CurrentAnimal.AnimalName @*&nbsp;&nbsp;*@</td>
        </tr>
    }
</table>